body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

/* Game Page Styles */

#game-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 10vh;
}

#game-table {
  margin: 30px 0 0 0;
  border-collapse: collapse;
  border: 0;
}

tr:first-child td {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

tr td:first-child {
  border-left: 0;
}

tr td:last-child {
  border-right: 0;
}

td {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-collapse: collapse;
}

#player-icon {
  width: 40px;
  height: 40px;
  border: 1px solid;
}

#game {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#first-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score {
  margin-top: 10px;
}

/* Main Page Styles */

.main_page {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding-bottom: 10vh;
}

.image {
  width: 273px;
  height: 273px;
  margin-bottom: 21px;
}

.create_button, .join_button {
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  width: 140px;
}

.button_container {
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Modal styles */
.modal_background{
  position: absolute;
  z-index: 1000;
  /* background-color: #000000; */
  /* opacity: 40%; */
  background: rgba(0, 0, 0, 0.4);
  width: 100vw; 
  height: 100vh;
  display: flex;
  align-items: center;
}
.modal {
  width: 400px;
  padding: 36px;
  margin: 1.75rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.text_input{
  width: 360px;
  border-radius: 10px;
  height: 36px;
  padding: 5px;
  margin-bottom: 16px;
}